.bottom--tip{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 12px;
    color: #858E9F;
    .bottom--line{
        width: 80px;
        border-bottom: 1px solid #9BA0AD;
    }
}