<ion-header>
    <ion-toolbar class="info--toolbar" color="primary">
        <div class="toolbar--title">工作台</div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="work-menu">
        <ion-grid fixed>
            <ion-row>
                <ion-col *ngFor="let item of menuList" size="3">
                    <div class="menu--item" (click)="linkTo(item)">
                        <img [src]="item.url">
                        <div>{{item.label}}</div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="school-timetable" *ngIf="currentTimeTable.length">
        <div class="time--title">
            <div>
                <span style="font-size: 15px; font-weight: bold;">{{labelName}}</span>
                <span style="font-size: 12px; padding-left: 10px;">{{weekDay}}</span>
            </div>
            <div [routerLink]="[ '/time-table']">
                <span style="font-size: 12px;">更多>></span>
            </div>
        </div>
        <div class="time--content" *ngIf="isHaveMine || isHaveClass || isHaveTeacher">
            <ion-grid fixed>
                <ion-row *ngFor="let value of currentTimeTable, let i = index" [ngClass]="{'first-row': isFirst && i == 0}" class="ion-align-items-center" style="border-top: 1px solid #eee;">
                    <ion-col size="3.5">
                        <div style="text-align: center;font-size: 14px;line-height: 26px;">
                            <div>{{value.lessionCodeName}}</div>
                            <div>{{value.startTime.substr(0,5)}}-{{value.endTime.substr(0,5)}}</div>
                        </div>
                    </ion-col>
                    <ion-col size="4.5">
                        <div style="text-align: center;font-size: 14px;">{{value.subjectName}}</div>
                    </ion-col>
                    <ion-col size="4">
                        <div style="text-align: center;font-size: 14px;">{{value.className}}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div class="no--data" *ngIf="currentTimeTable.length == 0">
                <img src="../../assets/img/unHappy.png">
                <div style="font-size: 12px;">暂无课程信息哦~</div>
            </div>
        </div>
    </div>


    <div class="punch-recent-list">
        <div class="punch-recent-title">
            <div class="punch-recent-title-left">主题打卡</div>
            <div class="punch-recent-title-right" tappable (click)="morePunch()">
                <span>更多</span>
                <span class="iconfont ion-iosyou"></span>
            </div>
        </div>

        <div class="punch-recent-list-box">
            <div class="punch-recent-item" *ngFor="let item of doingData" tappable (click)="handleToPunch(item.infoId)">
                <div class="punch-recent-item-left">
                    <div class="punch-recent-item-left-img">
                        <img src="assets/img/naoling.png">
                    </div>
                    <div class="punch-recent-item-left-title">{{item.themeName}}</div>
                </div>
                <div class="punch-recent-item-right">
                    <span class="punch-recent-item-right-today">今日打卡</span>
                    <span style="color: #F8754F;">
                        <span style="font-size: 18px;">{{item.clockInNum}}</span>
                        <span>/{{item.clockInAllNum}}</span>
                    </span>   
                </div>
            </div>
        </div>
    </div>

    <app-bottom-line></app-bottom-line>
</ion-content>
