.toolbar--title{
    padding-left: 20px;
}
.work-menu{
    padding: 5px;
    background-color: #fff;
    margin: 10px;
    border-radius: 4px;
    .menu--item{
        text-align: center;
        padding: 5px 0;
        img{
            width: 25px;
            height: 25px;
        }
        div{
            padding-top: 5px;
            font-size: 12px;
        }
    }
}
.school-timetable{
    margin: 10px;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    .time--title{
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
    }
}

.first-row{
    color: #ccc;
}

.no--data{
    text-align: center;
    color: #858E9F;
    padding: 20px 0;
    border-top: 1px solid #eee;
    img{
        width: 80px;
    }
}
