.toolbar--title{
    padding-left: 20px;
}
.work-menu{
    padding: 5px;
    background-color: #fff;
    margin: 10px;
    border-radius: 4px;
    .menu--item{
        text-align: center;
        padding: 5px 0;
        img{
            width: 25px;
            height: 25px;
        }
        div{
            padding-top: 5px;
            font-size: 12px;
        }
    }
}
.school-timetable{
    margin: 10px;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    .time--title{
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
    }
}

.first-row{
    color: #ccc;
}

.no--data{
    text-align: center;
    color: #858E9F;
    padding: 20px 0;
    border-top: 1px solid #eee;
    img{
        width: 80px;
    }
}

.punch-recent-list{
    background-color: #fff;
    padding: 10px;
    .punch-recent-title{
        display: flex;
        justify-content: space-between;
        .punch-recent-title-left{
            font-size: 16px;
            font-weight: bold;
        }
        .punch-recent-title-right{
            color: #999;
        }
    }
    .punch-recent-item{
        box-shadow:0px 7px 12px 0px rgba(0, 0, 0, 0.04);
        padding: 5px 0;
        display: flex;
        .punch-recent-item-left{
            flex-grow: 1;
            display: flex;
            .punch-recent-item-left-img{
                height: 48px;
                img{
                    width: 48px;
                    height: 48px;
                }
            }
            .punch-recent-item-left-title{
                font-size: 14px;
                font-weight: bold;
                line-height: 48px;
            }
        }
        .punch-recent-item-right{
            line-height: 48px;
            width: 100px;
            flex-basis: auto;
            .punch-recent-item-right-today{
                color: #999;
                font-size: 12px;
                margin-right: 5px;
            }
        }
    }
}
