<ion-header class="center--header">
    <ion-toolbar class="info--toolbar" color="primary">
        <div class="toolbar--title">我的</div>
        <ion-icon slot="end" name="myscanner" [routerLink]="[ '/qrscanner']"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content class="my--center">
    <ion-list class="person--info--list" lines="inset">
        <ion-item class="first--item">
            <ion-avatar (click)="addPicture()">
                <img [src]="url">
            </ion-avatar>
            <ion-label class="person--name">
                <div>
                    <span style="margin-right: 5px; font-size: 16px;">{{name}}</span>
                    <ion-chip class="switch--but" *ngIf="isSwitch" [routerLink]="[ '/switch-identity']">
                        <ion-icon name="qiehuan" color="success"></ion-icon>
                        <ion-label>切换</ion-label>
                    </ion-chip>
                </div>
                <div class="center-sign--box" [routerLink]="[ '/update-info']" [queryParams]="{ type : 1 }">
                    <span class="center-sign--res">{{sign}}</span>
                    <span class="icon iconfont ion-iosxiugai" style="font-size: 12px;padding-left:5px;"></span>
                </div>
            </ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/setting']" [queryParams]="{ type : 1 }">
            <div class="icon iconfont ion-iosgerenxinxi list-icon"></div>
            <ion-label>个人信息</ion-label>
            <ion-icon slot="end" name="myright"></ion-icon>
        </ion-item>
        <ion-item [routerLink]="[ '/setting']" [queryParams]="{ type : 2 }" *ngIf="isHaveSchool">
            <div class="icon iconfont ion-iosdibudaohanglan- list-icon"></div>
            <ion-label>我的学校</ion-label>
            <ion-icon slot="end" name="myright"></ion-icon>
        </ion-item>
        <ion-item  *ngIf="isHaveClass" (click)="handleFindClass()">
            <div class="icon iconfont ion-iosbanjiguanli list-icon"></div>
            <ion-label>我的班级</ion-label>
            <ion-icon slot="end" name="myright"></ion-icon>
        </ion-item>
        <ion-item (click)="updatePass()">
            <div class="icon iconfont ion-iosmima list-icon"></div>
            <ion-label>修改密码</ion-label>
            <ion-icon slot="end" name="myright"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-list class="about-us--only">
        <ion-item [routerLink]="[ '/setting']" [queryParams]="{ type : 4 }">
            <div class="icon iconfont ion-iosiconset0103 list-icon"></div>
            <ion-label>关于我们</ion-label>
            <ion-icon slot="end" name="myright"></ion-icon>
        </ion-item>
        <ion-item (click)="handleOpen()">
            <div class="icon iconfont ion-iosyijianfankui list-icon"></div>
            <ion-label>意见反馈</ion-label>
            <ion-icon slot="end" name="myright"></ion-icon>
        </ion-item>
    </ion-list>

    <div class="logout--operate" (click)="logout()">
        <span>退出登录</span>
    </div>
</ion-content>
