ion-content{
    --background: #fff;
}
.student-punch-wrapper{
    padding: 0 20px;
    height: 100%;
}
.punch-title-box{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    .punch-title-left{
        div:first-child{
            font-size: 16px;
            color: #333;
            font-weight: bold;
        }
        div:last-child{
            margin-top: 5px;
            font-size: 12px;
            color: #999999;
        }
    }
    .punch-title-right{
        font-size: 14px;
        color: #999999;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .popper-menu{
        position: absolute;
        z-index: 999;
        top: 45px;
        right: 0;
        text-align: center;
        background-color: #eee;
        padding: 0 5px;
        border-radius: 4px;
        div{
            line-height: 30px;
        }
    }
    
}
.abb-detail{
    .title-adb{
        padding-top: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.open-detail{
    color: #999999;
    text-align: center;
    padding: 10px 0;
    span:first-child{
        font-size: 14px;
    }
}
.list-title{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    span:first-child{
        font-size: 18px;
        font-weight: bold;
    }
    span:last-child{
        font-size: 18px;
        padding-top: 5px;
        color: #4C77FF;
    }
}
.tabs-top{
    display: flex;
    flex-grow: 1;
    background-color: #fff;
    .tabs--title-item{
        padding: 10px 0;
        font-size: 15px;
        flex-grow: 1;
        width: 0;
        text-align: center;
    }
    .current-select{
        color: #3C85EE;
        border-bottom: 2px solid #3C85EE;
    }
}
.no-data-box{
    color: #999999;
    font-size: 14px;
    line-height: 200px;
    text-align: center;
}
.image-content-box{
    .image-item{
        width: 100%;
        height: 95px;
    }
    ion-img{
        width: 100%;
        height: 95px;
        object-fit: cover;
        border-radius: 4px;
    } 
}
.audio-content-box{
    padding: 10px 20px;
    audio{
        width: 100%;
        height: 41px;
        background-color: #fff;
    }
}
.video-content-box{
    width: 100%;
    height: 95px;
    video{
        width: 100%;
        height: 95px;
        object-fit: fill;
    }
}
@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
  
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.all-punch-content{
    margin-top: 10px;
    animation: slideInDown 0.5s ease-in;
} 
.punch-list-wrapper{
    margin-top: 10px;
}
.person-mess{
    display: flex;
    justify-content: space-between;
    .person-avatar-left{
        display: flex;
    }
    .person-avatar{
        width: 40px;
        height: 40px;
        img{
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .person-name{
        margin-left: 10px;
        div:last-child{
            color: #999999;
            font-size: 12px;
        }
    } 
}
.punch-mess-title{
    padding: 5px 0;
}
.flower-delivery{
    padding: 10px 0;
    .iconfont{
        vertical-align: middle;
    }
    text-align: right;
    .flower-delivery-one,.flower-delivery-two{
        margin-right: 20px;
    }
}

.not-punch-list{
    margin-top: 10px;
    .not-pubch-item{
        display: flex;
        padding-bottom: 10px;
        div:first-child{
            width: 40px;
            height: 40px;
            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        div:last-child{
            flex-grow: 1;
            line-height: 40px;
            padding-left: 10px;
            border-bottom: 1px solid #eee;
        }
    }
}

