<ion-tabs #tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="infomation">
            <ion-icon name="xiaoxi"></ion-icon>
            <ion-label>消息</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="teaching">
            <ion-icon name="jiaoxue"></ion-icon>
            <ion-label>工作台</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="analysis">
            <ion-icon name="tongji"></ion-icon>
            <ion-label>数据大脑</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="mycenter">
            <ion-icon name="contact"></ion-icon>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
