<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="infomation">
            <ion-icon name="xiaoxi"></ion-icon>
            <ion-label>消息</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="teaching">
            <ion-icon name="jiaoxue"></ion-icon>
            <ion-label>教学</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="analysis">
            <!-- <div class="icon iconfont ion-iostongji"></div> -->
            <ion-icon name="tongji"></ion-icon>
            <ion-label>分析</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="mycenter">
            <ion-icon name="contact"></ion-icon>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
