.analysis{
    --background: #f8f9fb; 
}
.demo-chart{
    height: 100px;
}
.module--title{
    padding: 5px 10px;
}
.chart--content{
    background-color: #fff;
    margin: 10px 0;
    .chart--top{
        display: flex;
        .chart--right{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: right;
            flex-grow: 1;
            padding-right: 10px;
            div{
                line-height: 30px;
            }
            .edu--tip--box{
                text-align: center;
                margin-right: 5px;
            }
            .edu--tip{
                font-size: 12px;
            }
        }
    }
    .bottom--mess{
        display: flex;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-left: 15px;
        }
        span{
            font-size: 12px;
            line-height: 40px;
            margin-left: 5px;
        }
    }
    .gif--left{
        width: 150px;
        height: 150px;
        position: relative;
        img{
            margin-top: 5px;
        }
        .center--font{
            position:absolute;
            top: 50%;
            left: 50%;
            font-size: 14px;
            text-align: center;
            margin-left: -33px;
            margin-top: -22px;
        }
    }
    .edu--left{
        width: 150px;
        height: 150px;
        position: relative;
        img{
            width: 120px;
            height: 120px;
            margin-top: 5px;
            margin-left: 5px;
        }
        .center--font{
            color: #fff;
            position:absolute;
            top: 50%;
            left: 50%;
            font-size: 12px;
            text-align: center;
            margin-left: -52px;
            margin-top: -33px;
        }
    }
}
.xs-font--size{
    font-size: 12px;
}