<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="打卡" icon="myleft"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="punch-detail-wrapper">
        <div class="punch-title-box">
            <div class="punch-title-left">
                <div>{{detailObj.themeName}}</div>
                <div>{{detailObj.createDate}}——{{detailObj.endDate}}</div>
            </div>
            <div class="punch-title-right">
                <span>
                    <span class="iconfont ion-ios999999"></span>
                    <span>转发</span>
                </span>
            </div>
        </div>
        <div class="punch-detail-box">
            <div class="abb-detail">
                <div [hidden]="isExpand" class="title-adb">{{detailObj.detailInfo}}</div>
                <div [hidden]="!isExpand" class="all-punch-content">
                    <div>{{detailObj.detailInfo}}</div>
                    <div class="media-content-box">
                        <div [hidden]="!detailObj.audioAddress" class="audio-content-box">
                            <audio controls [src]="baseApi + detailObj.audioAddress"></audio>
                        </div>
                        <div class="image-content-box">
                            <ion-grid fixed>
                                <ion-row>
                                    <ion-col size="4" *ngFor="let item of images">
                                        <div class="image-item">
                                            <ion-img [src]="baseApi + item"></ion-img>
                                        </div>
                                    </ion-col>
                                    <ion-col [hidden]="!detailObj.videoAddress" size="4">
                                        <div class="video-content-box">
                                            <video controls [src]="baseApi + detailObj.videoAddress"></video>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>
                    <div class="open-detail">
                        <span tappable (click)="handleExpand()">
                            <span>收起</span>
                            <span class="iconfont ion-iosxiangshang" style="font-size: 14px;"></span>
                        </span>
                    </div>
                </div>
                <div *ngIf="!isExpand" class="open-detail">
                    <span tappable (click)="handleExpand()">
                        <span>展开</span>
                        <span class="iconfont ion-iosxiangxia"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="new-punch-wrapper">
        <form #punchForm="ngForm">
            <div class="form-row">
                <ion-textarea rows="6" [(ngModel)]="punchModel.detail" name="detail" required #detailM="ngModel" placeholder="请输入打卡内容..." maxlength="500"></ion-textarea>
                <div class="input-tip">{{punchModel.detail.length}}/500</div>
                <div *ngIf="detailM.invalid && (detailM.dirty || detailM.touched)" class="alert-danger">
                    <div *ngIf="detailM.errors.required">打卡内容必填</div>
                    <div *ngIf="detailM.errors.maxlength">打卡内容最多500字</div>
                </div>
            </div>
            <div class="media-content-box">
                <div *ngIf="audioUrl" class="audio-content-box">
                    <audio [src]="audioUrl" controls></audio>
                    <span class="iconfont ion-iosguanbi" (click)="deleteAudio()"></span>
                </div>
                <div *ngIf="imgages.length || videUrl" class="image-content-box">
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="4" *ngFor="let item of imgages, let i = index">
                                <div class="image-item">
                                    <ion-img [src]="item"></ion-img>
                                    <span (click)="deleteImage(i)" class="iconfont ion-iosguanbi"></span>
                                </div>
                            </ion-col>
                            <ion-col size="4" *ngIf="videUrl">
                                <div class="video-content-box image-item">
                                    <video controls [src]="videUrl"></video>
                                    <span (click)="deleteVideo()" class="iconfont ion-iosguanbi"></span>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
            <div class="upload-file">
                <div class="upload-file-operate">
                    <div *ngIf="imgages.length < 9" class="upload-file-option" (click)="addPicture()">
                        <img src="assets/img/add-img.png">
                    </div>
                    <div class="upload-file-option" *ngIf="!videUrl" (click)="addVideo()">
                        <img src="assets/img/add-video.png">
                    </div>
                    <div class="upload-file-option" *ngIf="!audioUrl" (click)="addAudio()">
                        <img src="assets/img/add-audio.png">
                    </div>
                </div>
                <div class="file-size-tip">温馨提示：上传视频需小于100M</div>
            </div>
            <div style="padding: 20px 0; text-align: center;">
                <ion-button (click)="handleCreat()" [disabled]="!punchForm.form.valid">确认提交</ion-button>
            </div>
        </form>
    </div>
</ion-content>
    