ion-content{
    --background: #F8F8FA;
    font-size: 15px !important;
}
ion-textarea,ion-input{
    font-size: 15px !important;
    --placeholder-font-style: 15px !important;
}
ion-toolbar{
    --min-height : 40px;
}
ion-title{
    text-align: center;
    font-size: 16px;
}
.sheet-logout{
    .action-sheet-title{
        padding: 5px 0;
        font-size: 12px;
        text-align: center;
        height: auto;
    }
    .action-sheet-button-inner{
        justify-content: space-around;
        font-size: 15px;
    }
    .action-sheet-logout{
        color: #F56C6C;
    }
}
.choise--album{
    .action-sheet-button{
        font-size: 15px;
        border-bottom: 1px solid #dcdfe6;
    }
    .action-sheet-group-cancel{
        margin-top: 10px;
    }
    .action-sheet-button-inner{
        justify-content: space-around;
    }
}
ion-back-button{
    position: absolute;
    height: 40px !important;
    z-index: 999;
}

ion-toast{
    --background: rgba(0, 122, 255, .7);
}
.commonToast{
    text-align: center;
}
.message-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 9999;
    span{
        font-size: 15px;
        color: #fff;
        background-color: rgba(51, 51, 51, .8);
        padding: 8px 20px;
        border-radius: 7px;
    }
}
.message-wrapper--bottom{
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    span{
        margin-bottom: 50px;
        color: #fff;
        background-color: rgba(51, 51, 51, .8);
        padding: 8px 20px;
        border-radius: 7px;
    }
}
ion-label {
    &[required]:before, &.required:before {
      color: #f53d3d;
      content: '*';
      margin-top: 3px;
    }
}
.alert-danger {
    display: flex;
    padding: 3px 16px;
    color: #f53d3d;
    font-size: 12px;
}
.confirm--bind{
    .class-room--name{
        color: #3C85EE;
        padding-right: 5px;
    }
}
.filter-class{
    padding-top: 42px;
    background-color: rgba(0, 0, 0, .3);
    align-items: flex-start;
    .modal-wrapper{
        height: 175px;
    }
}
