<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="打卡" icon="myleft"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
    
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refreshPersonMess($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="释放立即刷新"
            refreshingSpinner="circles"
            refreshingText="正在刷新">
        </ion-refresher-content>
    </ion-refresher>
    <div class="check-in-wrapper">
        <div class="header-nav-box">
            <div class="tabs-top">
                <div class="tabs--title-item" [ngClass]="{'current-select': index == 0}" (click)="changeTab(0)">
                    <span>进行中</span>
                </div>
                <div class="tabs--title-item" [ngClass]="{'current-select': index == 1}" (click)="changeTab(1)">
                    <span>已结束</span>
                </div> 
            </div>
        </div>
        <div class="content-box">
            <div class="doing-box">
                <div class="doing-item" *ngFor="let item of doingData">
                    <div class="box-top">
                        <div>{{item.createDate}}</div>
                        <div>{{item.gradeName}}{{item.className}}</div>
                    </div>
                    <div class="box-center">
                        <div class="box-center-one">
                            <img src="assets/img/naoling.png">
                        </div>
                        <div class="box-center-two">
                            <div>{{item.themeName}}</div>
                            <div>已经进行{{item.stateNum}}天</div>
                        </div>
                        <div class="box-center-three">
                            <div *ngIf="index == 0 && item.alreadyClock == 1" class="end-activity">
                                <span>已打卡</span>
                            </div>
                            <div *ngIf="index == 0 && item.alreadyClock == 0" class="new-activity">
                                <span [routerLink]="[ '/student-punch/punch-detail']" [queryParams]="{ id : item.infoId }">打卡</span>
                            </div>
                            <div *ngIf="index == 1" class="end-activity">
                                <span>已结束</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-bottom">
                        <!-- <div class="box-bottom-two" *ngIf="index == 0">
                            <span class="iconfont ion-ios999999"></span>
                            <span>转发</span>
                        </div> -->
                        <div class="box-bottom-three" [routerLink]="[ '/student-punch/punch-detail']" [queryParams]="{ id : item.infoId, exerciseState: this.index }">
                            <span class="iconfont ion-iosliebiao"></span>
                            <span>查看详情</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="no-data-wrapper" *ngIf="!doingData.length">
        <div>
            <img src="assets/img/no-data.png">
            <div class="no-data-tip">
                <span>暂无打卡信息列表</span>
            </div>
        </div>
    </div>
    <ion-infinite-scroll threshold="50px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="数据加载中..."> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
    